<div class="links-container">
  <div class="col-2">
    <div class="page-title">
      <div class="logo">
        <img
          src="../../../assets/code-slash-outline.svg"
          alt="Angular Blog Icon"
        />
      </div>
      <span class="name">Angular Blog</span>
    </div>
    <p>
      Develop amazing digital experiences that create more happy in the world.
    </p>
  </div>

  <ul>
    Product
    <li>Overview</li>
    <li>Features</li>
    <li>Solutions</li>
    <li>Tutorials</li>
    <li>Pricing</li>
    <li>Releases</li>
  </ul>

  <ul>
    Company
    <li>About us</li>
    <li>Careeers</li>
    <li>Press</li>
    <li>News</li>
    <li>Media kit</li>
    <li>Contact</li>
  </ul>

  <ul>
    Resources
    <li>Blog</li>
    <li>Newsletter</li>
    <li>Events</li>
    <li>Help centre</li>
    <li>Tutorials</li>
    <li>Support</li>
  </ul>

  <ul>
    Social
    <li>Twitter</li>
    <li>Linkedin</li>
    <li>Facebook</li>
    <li>GitHub</li>
    <li>AngelList</li>
    <li>Dribbble</li>
  </ul>

  <ul>
    Legal
    <li>Terms</li>
    <li>Privacy</li>
    <li>Cookies</li>
    <li>Licenses</li>
    <li>Settings</li>
    <li>Contact</li>
  </ul>
</div>
<div class="footer-container">
  <p>© 2077 Angular Blog. All rights reserved.</p>
  <div class="social-icons">
    <div class="icon">
      <img src="" alt="" />
    </div>
  </div>
</div>
