<!DOCTYPE html>
<footer>
  <div class="links-container">
    <div class="col-2">
      <div class="page-title">
        <div class="logo">
          <img src="../../../assets/angular.png" alt="Angular Blog Icon" />
        </div>
        <span class="name">Angular Blog</span>
      </div>
      <p>
        Develop amazing digital experiences that create more happy in the world.
      </p>
    </div>

    <ul>
      Product
      <li class="mute">Overview</li>
      <li class="mute">Features</li>
      <li class="mute">Solutions</li>
      <li class="mute">Tutorials</li>
      <li class="mute">Pricing</li>
      <li class="mute">Releases</li>
    </ul>

    <ul>
      Company
      <li class="mute">About us</li>
      <li class="mute">Careeers</li>
      <li class="mute">Press</li>
      <li class="mute">News</li>
      <li class="mute">Media kit</li>
      <li class="mute">Contact</li>
    </ul>

    <ul>
      Resources
      <li class="mute">Blog</li>
      <li class="mute">Newsletter</li>
      <li class="mute">Events</li>
      <li class="mute">Help centre</li>
      <li class="mute">Tutorials</li>
      <li class="mute">Support</li>
    </ul>

    <ul>
      Social
      <li class="new"><a href="https://github.com/ygg-m">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/ygorgm">Linkedin</a></li>
      <li><a href="https://twitter.com/yggm_">Twitter</a></li>
      <li class="mute">Facebook</li>
      <li class="mute">AngelList</li>
      <li class="mute">Dribbble</li>
    </ul>

    <ul>
      Legal
      <li class="mute">Terms</li>
      <li class="mute">Privacy</li>
      <li class="mute">Cookies</li>
      <li class="mute">Licenses</li>
      <li class="mute">Settings</li>
      <li class="mute">Contact</li>
    </ul>
  </div>

  <div class="footer-container">
    <p>© 2077 Angular Blog. All rights reserved.</p>
    <div class="social-icons">
      <div class="icon">
        <a href="https://twitter.com/yggm_">
          <img src="../../../assets/twitter.svg" alt="Twitter Icon"
        /></a>
      </div>
      <div class="icon">
        <a href="https://www.linkedin.com/in/ygorgm">
          <img src="../../../assets/linkedin.svg" alt="Linkedin Icon"
        /></a>
      </div>
      <div class="icon">
        <a href="https://github.com/ygg-m">
          <img src="../../../assets/github.svg" alt="GitHub Icon"
        /></a>
      </div>
    </div>
  </div>
</footer>
