<nav>
  <div class="page-title" [routerLink]="''">
    <div class="logo">
      <img src="../../../assets/angular.png" alt="Angular Blog Icon" />
    </div>
    <span class="name">Angular Blog</span>
  </div>

  <ul class="options" *ngIf="isMobile === false">
    <li class="option" [routerLink]="''">Home</li>
    <li class="option"><a href="https://github.com/ygg-m">GitHub</a></li>
    <li class="option">
      <a href="https://www.linkedin.com/in/ygorgm/">Linkedin</a>
    </li>
    <li class="option"><a href="https://twitter.com/yggm_">Twitter</a></li>
  </ul>

  <div class="auth-buttons" *ngIf="isMobile === false">
    <button class="log-in" (click)="login()">Log In</button>
    <button class="sign-up" (click)="register()">Sign up</button>
  </div>

  <div *ngIf="isMobile === true" class="menu-icon" (click)="mobileMenuClick()">
    <img src="../../../assets/menu-outline.svg" alt="" />
  </div>
</nav>

<!-- mobile menu -->
<nav
  class="mobile"
  *ngIf="isMobile === true"
  [ngClass]="mobileMenu ? 'show' : 'hide'"
>
  <ul class="options">
    <div class="close-button" (click)="mobileMenuClick()">
      <img src="../../../assets/close-outline.svg" alt="Close Button" />
    </div>
    <li class="option" [routerLink]="''">Home</li>
    <li class="option"><a href="https://github.com/ygg-m">GitHub</a></li>
    <li class="option">
      <a href="https://www.linkedin.com/in/ygorgm/">Linkedin</a>
    </li>
    <li class="option"><a href="https://twitter.com/yggm_">Twitter</a></li>
  </ul>

  <div class="auth-buttons">
    <button class="log-in" (click)="login()">Log In</button>
    <button class="sign-up" (click)="register()">Sign up</button>
  </div>
</nav>
