<app-navbar></app-navbar>

<app-featured-post [post]="true"></app-featured-post>

<div class="post-body">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec risus mi,
    gravida ac porta et, mattis eu justo. Vestibulum in faucibus felis, id
    condimentum arcu. Etiam sit amet purus tellus. Integer quis maximus dui.
    Praesent quis imperdiet odio. Nam vestibulum massa sed quam volutpat, ut
    ullamcorper odio malesuada. Curabitur eu nisl mi. Aenean sollicitudin nisl
    quis risus laoreet pretium. Sed velit nisl, dapibus in purus id, egestas
    commodo diam. Integer eu massa mi. Aenean volutpat sapien id nisl vulputate
    tempor placerat et felis.
  </p>

  <p>
    Donec urna purus, gravida ut accumsan a, efficitur eu ligula. Nunc nec ipsum
    lacinia, vestibulum sem at, faucibus est. Aliquam rhoncus purus ac felis
    rhoncus, at lacinia velit rutrum. In ut nisi sagittis, pretium magna nec,
    rutrum lectus. Donec a molestie mauris. Sed id augue at libero faucibus
    facilisis eu a tortor. Pellentesque pulvinar lorem pulvinar turpis maximus,
    et maximus ante tempus.
  </p>

  <p>
    Duis euismod bibendum purus, quis vehicula sem porta eget. Lorem ipsum dolor
    sit amet, consectetur adipiscing elit. Phasellus arcu felis, placerat at
    laoreet sed, porta a risus. Maecenas nec quam vel odio pretium varius vel at
    elit. Curabitur at nunc et mauris tincidunt consequat vitae vitae ex.
    Maecenas eleifend velit non massa pulvinar imperdiet. Nunc rutrum nisl quis
    libero dapibus, tempor luctus tortor sollicitudin. Nunc bibendum non sapien
    nec molestie. Maecenas nec consequat mi. Donec accumsan justo in lectus
    aliquet accumsan. Quisque blandit iaculis feugiat. Aliquam suscipit
    fermentum nisl, finibus vestibulum metus suscipit id. Fusce turpis erat,
    pretium sit amet risus vitae, dignissim posuere libero.
  </p>

  <p>
    Quisque ligula tellus, viverra id orci eu, interdum dictum metus. Nunc
    malesuada porttitor scelerisque. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Sed ornare orci id
    sollicitudin tincidunt. Nullam quis massa nec purus viverra pretium et et
    neque. Etiam massa ipsum, molestie eget diam nec, suscipit varius tortor.
    Morbi vel velit in velit aliquam tincidunt nec eget orci. Duis id eros a
    felis elementum sollicitudin. Nunc purus elit, vulputate vel semper a,
    venenatis sed nibh.
  </p>

  <p>
    Maecenas auctor nec dolor id blandit. Aliquam et diam in ligula pulvinar
    commodo. Aenean mi est, sodales vel scelerisque quis, posuere ut turpis.
    Cras vitae eros efficitur ipsum rutrum sollicitudin. Nunc finibus, diam id
    mollis accumsan, mi lectus tincidunt diam, et consectetur arcu arcu nec dui.
    Aenean eget sapien elit. Curabitur eleifend felis in mauris hendrerit, ut
    bibendum purus viverra. Nunc aliquet condimentum purus, sed dignissim ipsum
    finibus nec. Praesent ex tortor, convallis non dolor sit amet, iaculis
    sodales urna. Duis imperdiet tellus ut varius tincidunt.
  </p>
</div>

<app-footer></app-footer>
