
  <article class="card-container">
    <div class="img-container">
      <img
        src="https://images.pexels.com/photos/214574/pexels-photo-214574.jpeg"
        alt=""
      />
    </div>
    <div class="info-container">
      <div class="author-date">
        <span class="author">Olivia Rhye</span>
        <span class="date">20 Jan 2022</span>
      </div>

      <div class="title">
        <h2>A developer's guide to battling imposter syndrome</h2>
        <div class="icon">
          <img src="../../../assets/arrow-up-outline.svg" alt="" />
        </div>
      </div>

      <div class="description">
        <p>
          How to boost self-perception through communication writing and
          kinship.
        </p>
      </div>

      <div class="tags">
        <button class="tag">Development</button>
        <button class="tag">Career</button>
        <button class="tag">Studios</button>
      </div>
    </div>
  </article>
