<app-navbar></app-navbar>
<app-page-title></app-page-title>
<app-categories></app-categories>

<!-- featured post -->
<app-featured-post
  [img_src]="
    'https://images.pexels.com/photos/5690988/pexels-photo-5690988.jpeg'
  "
  [img_alt]="'Woman looking the horizon'"
  [author]="'Ygor Goulart'"
  [date]="'03 Aug 2022'"
  title="A developer's guide to battling imposter syndrome"
  description="
    How to boost self-perception through communication writing and kinship.
  "
  [tags]="['Development', 'Career', 'Studios']"
></app-featured-post>

<!-- other posts -->
<div class="cards-container">
  <app-card-post
    img_src="https://images.pexels.com/photos/2291780/pexels-photo-2291780.jpeg"
    img_alt="Big view with a lake and lot's of trees."
    author="Sara Goulart"
    date="06 Nov 2022"
    title="Constructing your Angular Developer career"
    description="How to start in Angular and became a recognizable developer inside the industry."
    [tags]="['Development', 'Career', 'Beginners', 'Interviews']"
  ></app-card-post>
  <app-card-post
    img_src="https://images.pexels.com/photos/1092506/pexels-photo-1092506.jpeg"
    img_alt="Woman With Blue Denim Collared Button-up Jacket and Black Jeans Sitting on Gray Rock Watching Lakeview"
    author="Ygor Goulart"
    date="05 Nov 2022"
    title="Stop being too nice"
    description="Don't let others take advantage of you because of it."
    [tags]="['Personal', 'Life tips']"
  ></app-card-post>
  <app-card-post
    img_src="https://images.pexels.com/photos/1481347/pexels-photo-1481347.jpeg"
    img_alt="Road in Forest"
    author="Sara Goulart"
    date="03 Nov 2022"
    title="How to Survive If Your Job is Lost?"
    description="The latest wave of layoffs in the tech industry has been going on for a while. Facebook announced that it would be cutting 11,000 jobs in order to cut costs."
    [tags]="['Career', 'Big Tech']"
  ></app-card-post>
  <app-card-post
    img_src="https://res.cloudinary.com/daily-now/image/upload/f_auto,q_auto/v1/posts/036f8ec3945984735ded0bff61c89472"
    img_alt="Guy watching videos in laptop."
    author="Ygor Goulart"
    date="01 Nov 2022"
    title="The State of Frontend in 2022"
    description="The State of Frontend in 2022 analysis of 3,700 respondents from 125 countries."
    [tags]="['Career', 'Frontend']"
  ></app-card-post>
  <app-card-post
    img_src="https://res.cloudinary.com/daily-now/image/upload/f_auto,q_auto/v1/posts/7b2311930cd6246ee1cac66542490a7e"
    img_alt="Woman with a book covering her face."
    author="Sara Goulart"
    date="28 Oct 2022"
    title="Extensive List of Best Development Resources"
    description="This is a collection of top rated web development resources every developer needs."
    [tags]="['Resources', 'Interview', 'Productivity']"
  ></app-card-post>
</div>
<router-outlet></router-outlet>
