<app-navbar></app-navbar>
<app-page-title></app-page-title>

<!-- featured post -->
<app-featured-post [id]="1"></app-featured-post>

<!-- other posts -->
<div class="cards-container">
  <app-card-post [id]="2"></app-card-post>
  <app-card-post [id]="3"></app-card-post>
  <app-card-post [id]="4"></app-card-post>
  <app-card-post [id]="5"></app-card-post>
  <app-card-post [id]="6"></app-card-post>
  <app-card-post [id]="7"></app-card-post>
</div>

<app-navigation></app-navigation>

<app-subscribe></app-subscribe>

<app-footer></app-footer>
