/* You can add global styles to this file, and also import other style files */
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: sans-serif

body
  width: calc(100vw - 1rem)
  overflow-x: hidden

button
  background: none
  border: none

.cards-container
  margin: auto
  width: 100%
  max-width: 1440px
  padding: 1rem
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr))
  gap: 1rem
  @media (max-width: 372px)
    grid-template-columns: 1fr
