<article class="container">
  <div class="img-container">
    <img src="{{ img_src }}" alt="{{ img_alt }}" />
  </div>
  <div class="info-container">
    <div class="author-date">
      <span class="author">{{ author }}</span>
      <span class="date">{{ date }}</span>
    </div>

    <div class="title">
      <h2 [routerLink]="['post', id]">{{ title }}</h2>
      <div class="icon" *ngIf="post === false">
        <img src="../../../assets/arrow-up-outline.svg" alt="" />
      </div>
    </div>

    <div class="description">
      <p>
        {{ description }}
      </p>
    </div>

    <div class="tags">
      <button class="tag" *ngFor="let tag of tags">{{ tag }}</button>
    </div>
  </div>
</article>
